.exhibition-area {
	width: 98%;
	height: 520px;
	margin: 0 auto;
	margin-top: 15px;
	background: #9cd8f5;
	border-radius: 4px;
}

.exhibition-area .ctrl-left {
	width: 35%;
	height: 520px;
	float: left;
}

.exhibition-area .ctrl-left .inner-area {
	width: 98%;
	height: 510px;
	margin: 0 auto;
	margin-top: 4px;
}

.exhibition-area .ctrl-left .inner-area ul {
	list-style: none;
	white-space: nowrap;
}

.exhibition-area .ctrl-left .inner-area .function-container {
	margin: 0;
	padding: 0;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-outer {
	border: 1px dotted rgba(119, 133, 212, 0.38);
	width: 326px;
	height: 38px;
	border-radius: 4px;
	cursor: auto;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-outer.allow-select {
	background: url(../../images/img_block_1_8x8.png);
	cursor: pointer;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-outer.selected {
	background: url(../../images/img_block_2_8x8.png);
}

.exhibition-area .ctrl-left .inner-area .function-container .func-outer.highlight {
	background: url(../../images/img_block_3_8x8.png);
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner {
	border: 1px solid #9db4e1;
	width: 320px;
	height: 32px;
	border-radius: 4px;
	margin-top: 2px;
	margin-left: 2px;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner span.func-logo {
	width: 32px;
	height: 32px;
	background: url(../../images/icon_browser_earth_globe_world_16x16.png) no-repeat center;
	float: left;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner span.func-name {
	max-width: 256px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	overflow: hidden;
	float: left;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner span.toggle {
	width: 32px;
	height: 32px;
	float: left;
	display: block;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner span.toggle.expand {
	background: url(../../images/icon_arrow_carrot_down_16x16.png) no-repeat center;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner span.toggle.collapse {
	background: url(../../images/icon_arrow_carrot_right_16x16.png) no-repeat center;
}

.exhibition-area .ctrl-left .inner-area .function-container .func-inner span.func-unopened {
	width: 32px;
	height: 32px;
	background: url(../../images/icon_button_warning_icon_16x16.png) no-repeat center;
	float: left;
}

.exhibition-area .ctrl-middle {
	width: 30%;
	height: 520px;
	float: left;
}

.exhibition-area .ctrl-middle .inner-area {
	width: 98%;
	height: 510px;
	margin: 0 auto;
	margin-top: 4px;
}

.exhibition-area .ctrl-middle .inner-area .item-block {
	height: 102px;
	border: 1px dotted white;
	border-radius: 4px;
}

.exhibition-area .ctrl-middle .inner-area .item-block .block-content {
	background: url(../../images/img_block_1_8x8.png);
	width: 70%;
	height: 42px;
	margin: 0 auto;
	margin-top: 29px;
	border-radius: 4px;
	cursor: pointer;
}

.exhibition-area .ctrl-middle .inner-area .item-block .block-content .text {
	height: 42px;
	line-height: 42px;
	font-size: 18px;
	overflow: hidden;
	display: block;
	text-align: center;
}

.exhibition-area .ctrl-right {
	width: 35%;
	height: 520px;
	float: left;
}

.exhibition-area .ctrl-right .inner-area {
	width: 98%;
	height: 510px;
	margin: 0 auto;
	margin-top: 4px;
}

.exhibition-area .ctrl-right .inner-area .item-block {
	height: 54px;
	border: 1px dotted #fff;
	border-radius: 4px;
}

.exhibition-area .ctrl-right .inner-area .item-block .block-content {
	width: 70%;
	height: 32px;
	background: url(../../images/img_block_2_8x8.png);
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.exhibition-area .ctrl-right .inner-area .item-block .block-content .btn-delete {
	display: block;
	width: 32px;
	height: 32px;
	background: url(../../images/icon_delete_sign_32x32.png) no-repeat center;
	opacity: 0.08;
	float: right;
}

.exhibition-area .ctrl-right .inner-area .item-block .block-content .btn-delete:hover {
	opacity: 1;
}

.exhibition-area .ctrl-right .inner-area .item-block .block-content .text {
	display: block;
	width: 80%;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	overflow: hidden;
	border-right: 1px dotted #c9c9c9;
	margin-left: 4px;
	float: left;
}