.selected-files-table .record tr[class^="scheme-"] {
	display: none;
}

.selected-files-table .record tr[class^="scheme-"].enable {
	display: table-row;
}

.selected-files-table .record tr.scheme-default th {
	height: 0px;
}

.selected-files-table .record tr[class^="scheme-defined-"] th {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #1d1b1b;
}

.selected-files-table .record tbody td {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid #1d1b1b;
}

.selected-files-table .record tbody .data-row .icon {
	width: 32px;
	height: 32px;
}

.selected-files-table-none {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
}

.selected-files-table-none .icon {
	float: left;
	width: 32px;
	height: 32px;
	margin: 59px 30%;
}

.selected-files-table-none .message {
	float: left;
	margin: 64px -28%;
}