.sg-themes--home-banner {
	background: #77751c !important;
}

.sg-themes--home-menu {
	background: rgba(119, 118, 28, 0.8) !important;
}

.sg-themes--home-banner-user-info {
	color: white !important;
}

.sg-themes--home-banner-remote-clock {
	color: white !important;
}

.sg-themes--home-banner-logout-button {
	color: white !important;
}

.sg-themes--generic-table-condition {
	
}

.sg-themes--generic-table-contents {
	
}