@import url('../sg-themes--generic.css');

.sg-themes--template-body {
	
}

.sg-themes--template-list-body {
	background: #c6a045;
}

.sg-themes--template-view-body {
	
}

.sg-themes--template-edit-body {
	
}

.sg-themes--template-other-body {
	
}

.sg-themes--home-banner {
	background: #c6a045 !important;
}

.sg-themes--home-banner-user-info {
	color: #000 !important;
}

.sg-themes--home-banner-remote-clock {
	color: #000 !important;
}

.sg-themes--home-banner-logout-button {
	color: #000 !important;
}

.sg-themes--home-menu {
	background: #c6a045 !important;
}

.sg-themes--home-data-exhibition-area .tabs-header {
	background: #c6a045;
	border-color: black;
}

.sg-themes--home-data-exhibition-area .tabs-panels {
	
}

.sg-themes--home-data-exhibition-area .tabs-header .tabs-wrap .tabs li a.tabs-inner {
	background: gray;
}

.sg-themes--home-data-exhibition-area .tabs-header .tabs-wrap .tabs li a.tabs-inner:hover {
	background: goldenrod;
}

.sg-themes--home-data-exhibition-area .tabs-header .tabs-wrap .tabs li.tabs-selected a.tabs-inner {
	background: gold;
}

.g-data-list-condition {
	background: #c6a045;
}

.g-data-list-condition .keyword {
	background: #c6a045 !important;
	color: black !important;
}

.g-data-list-table {
	background: #c6a045;
}

.g-data-list-table table.record tbody tr:first-child th {
	background: #efc258;
	color: #000;
	font-weight: bold;
}

.g-data-list-table table.record tbody tr.node-record td {
	color: black;
}

.g-data-list-table table.record tbody tr.node-record.odd td {
	background: #d8d859;
}

.g-data-list-table table.record tbody tr.node-record.even td {
	background: #c6c654;
}

.g-data-list-table table.record tbody tr.node-record:hover td {
	background: #a2cb5e !important;
}

.g-data-list-table table.record tbody tr.node-record td a {
	color: black;
}

.g-data-list-table table.record tbody tr.node-record td img {
	
}

.sg-themes--welcome-bg {
	background: url('../../img/luxury_gold_1920x1080.jpg') !important;
}