.sg-inputbox {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 953610236;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.88);
	display: none;
}

.sg-inputbox-contents {
	position: fixed;
	width: 640px;
	height: 340px;
	background: rgba(42, 233, 138, 0.7);
	left: 23%;
	top: 15%;
	border-radius: 15px;
}

.sg-inputbox-contents .textarea-bd {
	border: 0;
	resize: none;
	outline: 0;
	color: #333;
	width: 600px;
	height: 229px;
	margin-left: 20px;
	font-size: 19px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 8px 8px 8px 8px;
	background: rgba(255, 255, 255, 0.5);
}

.sg-inputbox-contents .textarea-bd:focus {
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(230, 102, 151, 0.65), 0 0 8px rgb(63, 231, 38);
}

.sg-inputbox-contents .progress-bar {
	position: absolute;
	width: 100%;
	height: 5px;
	margin-top: 15px;
	background: rgba(5, 5, 5, 0.67);
}

.sg-inputbox-contents .be-overflow {
	background: rgba(218, 30, 30, 0.82);
}

.sg-inputbox-contents .progress-bar-details {
	position: absolute;
	width: 35%;
	height: 22px;
	margin-top: 42px;
	left: 16px;
	border: 1px solid rgba(251, 239, 8, 0.3);
}

.sg-inputbox-contents .progress-bar-details span.with-current {
	color: black;
	float: right;
	font-size: 19px;
	line-height: 19px;
	font-weight: bold;
}

.sg-inputbox-contents .progress-bar-details span.with-current-overflow {
	color: #b10000;
}

.sg-inputbox-contents .progress-bar-details span.with-total {
	float: right;
	color: black;
	font-size: 19px;
	line-height: 19px;
	font-weight: bold;
}

.sg-inputbox-contents .btn-operation {
	cursor: pointer;
}

.sg-inputbox-contents .btn-operation .img-yes {
	position: absolute;
	left: 40%;
	margin-top: 30px;
	width: 48px;
	height: 48px;
}

.sg-inputbox-contents .btn-operation .img-no {
	position: absolute;
	right: 40%;
	margin-top: 30px;
	width: 48px;
	height: 48px;
}

.sg-inputbox-contents .btn-primary-cpybs {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

.sg-inputbox-contents .btn-default-cpybs {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.sg-inputbox-contents .btn-cpybs {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.sg-inputbox-contents .input-hint {
	position: absolute;
	width: 35%;
	height: 22px;
	margin-top: 42px;
	right: 16px;
	border: 1px solid rgba(251, 239, 8, 0.3);
}

.sg-inputbox-contents .input-hint span.hint-text {
	color: black;
	float: right;
	font-size: 19px;
	line-height: 19px;
	font-weight: bold;
}