/* fix.css样式表的作用是重写之前所有class，以避免直接在第三方样式表原版基础上修改，因此必须最后一个引入，所有class名称都以fix--开头，之后的以-分隔即可，注意：仅在此文件中加入需要覆盖的class，或是有冲突的class。 !important */
.fix--w141 {
	width: 141px !important;
}

.fix--w220 {
	width: 220px !important;
}

.fix--w440 {
	width: 440px !important;
}

.fix--w610 {
	width: 610px !important;
}

.fix--textarea-wh {
	width: 300px !important;
	height: 100px !important;
}

.fix--textarea-wh-c2 {
	width: 440px !important;
	height: 130px !important;
}

.fix--bc-purple {
	background-color: #ddbaf6 !important;
}

.fix--bc-red {
	background-color: #f07b62 !important;
}

.fix--bc-darkturquoise {
	background-color: #1ed7ed !important;
}