/* 公共CSS样式 */
.fl {
	float: left;
}

.fr {
	float: right;
}

.pr {
	position: relative;
}

.w300 {
	width: 300px;
}


.mt10 {
	margin-top: 14px;
}

.mt20 {
	margin-top: 20px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.mr2 {
	margin-right: 2px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.pd0-10 {
	padding: 0 10px;
}
.pd0-15 {
	padding: 0 15px;
}

.pb30 {
	padding-bottom: 30px;
}

.pb20 {
	padding-bottom: 20px;
}

.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}

.pt50 {
	padding-top: 50px;
}

.pb95 {
	padding-bottom: 95px;
}

.mb10 {
	margin-bottom: 10px;
}

.normal-btn {
	margin: 0 auto;
}

.fs14 {
	font-size: 12px;
}

.a-abbr {
	color: #333333 !important;
	text-decoration: none !important;
	cursor: default !important;
	outline: none !important;
}

/* 阻止remodal修改body的padding-right */
body {
	padding-right: 0px !important;
}
.btn{
	font-size: 12px !important;
	padding: 8px 12px !important;
}