body {
	min-width: 800px;
	min-height: 600px;
}

.field-name {
	float: left;
	width: 132px;
	padding-right: 15px;
	font-family: '微软雅黑';
	text-align: right;
}

.body-mask-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 614616185;
	display: none;
}

.body-mask-layer img {
	margin: 10% 35%;
}

textarea {
	resize: none;
}