body {
	background: url(../images/bg.png) no-repeat center center;
	background-color: whitesmoke;
}

.login-area {
	min-width: 800px;
	min-height: 600px;
}

.login-failed {
	background-color: palegoldenrod;
	width: 100%;
}

.login-failed td {
	text-align: center;
}