body {
	min-width: 800px;
	min-height: 600px;
}

.g-data-list-condition {
	width: 100%;
	height: 50px;
}

.g-data-list-table {
	width: 100%;
	height: 600px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	border-radius: 10px 10px 0 0;
	border-collapse: separate;
	font-family: '微软雅黑';
	color: #333333;
	position: relative;
}

.g-data-list-table .record th,.g-data-list-table .record tbody td {
	height: 38px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}

.g-data-list-table .record th {
	height: 42px;
	background: #E0ECFF;
	font-size: 15px;
	font-weight: normal;
}

.g-data-list-table .record th:first-child {
	border-radius: 10px 0 0 0;
}

.g-data-list-table .record th:last-child {
	border-radius: 0 10px 0 0;
}

.g-data-list-table .record tr.odd td {
	background: #F7F7F7;
}

.g-data-list-table .record tr.even td {
	background: #F5FFFA;
}

.g-data-list-table .record tr.hover td {
	background: #86CEF0;
}

/* 分页模型-常规 */
.pagination-model {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	border-collapse: separate;
	font-size: 12px;
}

.pagination-model span {
	float: left;
	height: 32px;
	line-height: 32px;
	border-right: 1px solid #e1e1e1;
}

.pagination-model span:first-child a {
	border-radius: 4px 0 0 4px;
}

.pagination-model span:last-child {
	border-right: 0;
}

.pagination-model a {
	display: block;
	padding: 0 13px;
	color: #9a9a9a;
	text-decoration: none;
}

.pagination-model a:link,.pagination-model a:hover,.pagination-model a:focus,.pagination-model a:visited
	{
	text-decoration: none;
}

.pagination-model .page-current a {
	background: #f6f6f8;
	color: #0088d2;
}

/* 分页模型-跳页 */
.pagination-model .page-index {
	border-left: 0px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

.pagination-model .page-index input {
	width: 60px;
	height: 32px;
	border: none;
	text-align: center;
	font-size: 12px;
	color: #6c6a6b;
}

.pagination-model .page-goto .page-determine {
	display: block;
	height: 32px;
	border: 0;
	font-size: 12px;
	cursor: pointer;
}

.body-mask-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 614616185;
	display: none;
}

.body-mask-layer img {
	margin: 10% 35%;
}

.g-data-list-table .empty-record {
	width: 100%;
	height: 100%;
	display: none;
}

.g-data-list-table .empty-record .icon {
	float: left;
	width: 32px;
	height: 32px;
	margin: 169px 42%;
	opacity: 0.3;
}

.g-data-list-table .empty-record .message {
	float: left;
	margin: 174px -41%;
	opacity: 0.6;
}