body {
	min-width: 800px;
	min-height: 600px;
}

.field-name {
	float: left;
	width: 132px;
	padding-right: 15px;
	font-family: '微软雅黑';
	text-align: right;
	font-size:12px;
}

.sg-mask-layer-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 614616185;
	background: RGBA(0, 0, 0, 0.01);
	display: none;
}

.sg-mask-layer-wrapper .sg-mask-layer-contents {
	position: absolute;
	width: 128px;
	height: 128px;
	background-size: 128px 128px !important;
	left: 40%;
	top: 30%;
	opacity: 0.32;
}

.sg-mask-layer-wrapper .sg-mask-layer-contents.is-loading {
	background: url(../images/ani/ajax.gif) no-repeat center;
}

textarea {
	resize: none;
}