/* 建议使用火狐浏览器在全屏模式下浏览 */
html {
	width: 100%;
	height: 100%;
	min-width: 800px;
	min-height: 600px;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 800px;
	min-height: 600px;
}

.div-main {
	width: 100%;
	height: 100%;
}

.div-main-top {
	background-color: #86cef0;
	width: 100%;
	height: 60px;
}

.div-main-left {
	background-color: #8dd5f7;
	width: 192px;
	min-width: 192px;
	min-height: 530px;
	float: left;
}

.div-main-left ul {
	list-style: none;
	white-space: nowrap;
}

.div-main-left .function-container {
	margin: 0;
	padding: 0;
}

.div-main-left .function-container .func-outer {
	border: 1px dotted rgba(119, 133, 212, 0.37);
	width: 326px;
	height: 38px;
	border-radius: 4px;
	cursor: pointer;
}

.div-main-left .function-container .func-inner {
	border: 1px solid #9db4e1;
	width: 320px;
	height: 32px;
	border-radius: 4px;
	margin-top: 2px;
	margin-left: 2px;
}

.div-main-left .function-container .func-inner.highlight {
	background: #41c299;
}

.div-main-left .function-container .func-inner span.func-logo {
	width: 32px;
	height: 32px;
	background: url(../../images/icon_plain_folder_16x16.png) no-repeat center;
	float: left;
}

.div-main-left .function-container .func-inner span.func-name {
	max-width: 256px;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	overflow: hidden;
	float: left;
}

.div-main-left .function-container .func-inner span.toggle {
	width: 32px;
	height: 32px;
	float: left;
}

.div-main-left .function-container .func-inner span.toggle.expand {
	background: url(../../images/icon_arrow_carrot_down_16x16.png) no-repeat center;
}

.div-main-left .function-container .func-inner span.toggle.collapse {
	background: url(../../images/icon_arrow_carrot_right_16x16.png) no-repeat center;
}

.div-main-left .function-container .func-inner span.func-unopened {
	width: 32px;
	height: 32px;
	background: url(../../images/icon_exclamation_mark_16x16.png) no-repeat center;
	float: left;
}

.div-main-left .mask-layer {
	position: fixed;
	background: rgba(255, 255, 255, 0);
	min-width: 192px;
	min-height: 530px;
	display: none;
}

.div-main-left .mask-layer span {
	width: 128px;
	height: 128px;
	position: absolute;
	left: 50%;
	top: 20%;
	margin: -84px 0 0 -64px;
	background: url(../../images/ani/ajax.gif) no-repeat center;
	background-size: 128px 128px;
	opacity: 0.321;
}

.div-main-right {
	min-width: 598px;
	min-height: 530px;
	float: left;
}

.this-menu-highlight {
	background-color: #f31ab3;
	font-weight: bold;
}

#node_welcome {
	background: url(../../images/img_welcome_1920x664.jpg);
}